BETTER_AUTH_SECRET=generate-with-openssl-rand-base64-32
ENCRYPTION_KEY=generate-with-openssl-rand-base64-32
RESEND_API_KEY=re_xxx
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:ryan@rmhwebsites.com
CRON_SECRET=generate-with-openssl-rand-hex-16
APP_URL=http://localhost:3000
