@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-red-hat-display);
  --font-display: var(--font-sora);
  --font-mono: var(--font-red-hat-mono);
}

:root { --bg: #f4f5f2; --ink: #101820; --accent: #91d500; }
body { background: var(--bg); color: var(--ink); }
